/* stylelint-disable function-disallowed-list */
/* stylelint-disable color-no-hex */
.widget {
	display: flex;
	flex-direction: column;
	background-color: #1a2233;
	color: white;
	filter: drop-shadow(10px 10px 20px rgb(0 0 0 / 25%));
}

.widget__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem;
	background-color: #3cff64;
}

.widget__title {
	overflow: hidden;
	color: #1a2233;
	font-weight: bold;
	white-space: nowrap;
	text-decoration: none;
	text-overflow: ellipsis;
}

.widget__description {
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	line-clamp: 2;
	-webkit-box-orient: vertical;
}

.widget__stat {
	display: flex;
	justify-content: center;
	align-items: center;
}

.widget__stat span {
	margin-left: 0.25rem;
}

.widget__footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0.5rem;
}
