/* stylelint-disable function-disallowed-list */
/* stylelint-disable color-no-hex */
.header {
	background-color: #1a2233;
}

.header__container {
	display: flex;
	gap: 2rem;
	align-items: center;
	max-width: 1200px;
	padding: 1rem;
	margin: 0 auto;
}

.app__brand {
	color: #3cff64;
	font-style: italic;
}

.container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	gap: 1rem;
	inline-size: 100%;
	max-inline-size: 120rem;
	padding: 1rem;
	margin: 0 auto;
}

.widget__status {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.widget__body {
	flex: 1;
	padding: 0.5rem;
}
