/* stylelint-disable function-disallowed-list */
/* stylelint-disable color-no-hex */
.container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
	gap: 1rem;
	inline-size: 100%;
	max-inline-size: 120rem;
	padding: 1rem;
	margin: 0 auto;
}

.widget__status {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.widget__body {
	flex: 1;
	padding: 0.5rem;
}
